.home-banner {
  background-image: url('banner.jpg');
  background-size: cover;
  height: calc(100vh - 70px);
  text-align: center;
  padding-top: 40vh;
  h1 {
  font-weight: 300;
  font-size: 65px;
  }
  p {
    color: white;
    font-size: 20px;
  }
}

